# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ant specific
/main/dist/
/main/build/

#netbeans specific
/main/core
/main/nbproject/*
/main/!nbproject/project.properties
/main/!nbproject/project.xml

#java specific
*.class

#glassfish-resources
/main/web/WEB-INF/glassfish-resources.xml
/AppServer/web/WEB-INF/glassfish-resources.xml

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

/main/nbproject/private/
/HotelApp/nbproject/private/
/AppServer/nbproject/private/
/AppServer/build/
/AppServer/dist/
/AppServer/src/java/settings/ProjectSettings.java
