
.nav li:nth-child(7){
  display: none;
}

#process {
  box-shadow: 0px 2px 5px 0px rgba(153,153,153,1);
  padding: 15px;
  padding-top: 0;
  overflow: scroll;
}

#process h3 {
  text-align: center;
}

#checkBox{
  width: auto;
  height: auto;
}

#submitBtn, #changePswBtn {
  margin-left: auto;
  margin-right: 0;
  display: block;
  border: none;
  padding: 10px 15px;
  background-color: #009f45;
  color: white;
}

#submitBtn:hover, #changePswBtn:hover{
  cursor: pointer;
  background-color: #00873a;
}

#pswDiv h5 {
    margin-top: 50px;
    margin-bottom: 0;
    background-color: #009f45;
}

#addBtn{
  font-size: 2.5em;
  background: #fe0084;
  color: white;
  padding: 0px 15px;
  border-radius: 50px;
}

#addBtn:hover{
  cursor: pointer;
  background-color: #c90068;
}

.tooltip {
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 90px;
    bottom: 100%;
    left: 50%; 
    margin-left: -45px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 180px 1fr;
  }
  
  .nav li:nth-child(7){
    display: block;
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
  
  .main-container{
      height: 75vh;
  }
  
  #main{
    height: 80vh;
  }
  
  #process{
    height: 75vh;
  }
  
  .nav{
    width: 180px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -180px;
    transition: 0.6s;
  }
  
  .nav-smallscreen{
    display: block;
  }
}

@media (max-width: 400px){
  #overlay div{
    width: 300px;
  }
}